@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: rgba(188, 224, 218, 0.29);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 8px;
  background-color: wheat;
  min-width: 80px;
  height: 100%;
  min-height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  transition: all 0.2s;
  &:hover {
    opacity: 0.7;
    color: rgb(122, 122, 122);
  }
  &:active {
    opacity: 0.3;
  }
  &:last-child {
    margin-left: 10px;
    @media (max-width: 540px) {
      margin-top: 5px;
      margin-left: 0;
    }
  }
  &--rsz {
    @media (max-width: 768px) {
      min-width: 60px;
      min-height: 40px;
      font-size: 14px;
    }
    @media (max-width: 540px) {
      display: block;
    }
  }
}

.container {
  padding: 0 1vw;
}
